/* span {
  background-color: rgb(214, 148, 6);
  color: whitesmoke;
  padding: 8px 16px 30px 50px;
  border: 3px solid bisque;
  /* padding-left: 10px;
  padding-bottom: 20px; 
} */

.black {
  color: whitesmoke;
  background-color: black;
}

.pink {
  color: black;
  background-color: pink;

  margin: 10px;
}
